{% extends 'admin/change_list.html' %}


{% block object-tools-items %}
{% load admin_urls %}
    <li>
        <a href="{% url 'admin:export_products_csv' %}" class="addlink">Export CSV</a>
    </li>
    <li>
        <form method="POST" enctype="multipart/form-data" action="{% url 'admin:import_products_csv' %}">
            {% csrf_token %}
            <input type="file" name="csv_file">
            <button type="submit" class="addlink">Upload CSV</button>
        </form>
    </li>
    {{ block.super }}
{% endblock %}